body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;	
  background-color: #113b92;
}

.heading {
    text-shadow: 1px 1px 1px #111;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom-style: solid
}

.wrapper {
  color: #113b92;
  background-color: #fff;
  width: 400px;
  margin: auto;
  height: 600px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.roundel {
  float: right;
  height: 37px;
}

.content {
  padding-top: 10px;
  font-weight: bold;
}

.contentItem {
  padding-top: 10px;
  font-weight: bold;
}

table, th, td {
  border: 1px solid #113b92;
  border-collapse: collapse;
}
th {
  font-weight: bold;
}
td {
  width: 100px;
}