body {
  background-color: #1A237E;
}

.search-input-label {
	display: block;
	font-size: 25px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #fff;	
	text-align: center;
	text-shadow: 1px 1px 1px #111;
}

.search-input {
	font-family: inherit;
	font-size: 20px;
	max-width: 100%;
	width: 280px;
	height: 35px;
	border: none;
	border-radius: 15px;
	margin: 10px 0 30px;
	text-align: center;
	color: #FAFAFA;
	background-color: #e5e5e5;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}