<div class="wrapper">
    
    <h1 class="heading">Service  Line</h1>

    <div class="search">
        <label for="search-input" class="search-input-label">Line:</label>
        <input type="text" id="search-input" class="search-input" placeholder="e.g. 'Jubilee'">
    </div>

    <div class="loader"></div>

    <div class="search-output"></div>
  <div class="character-details"></div>
    
</div>