<div class="wrapper">

  <h1 class="heading">Service Line</h1>

  <div class="search">
    <label for="search-input" class="search-input-label">Line:</label>
    <input type="search" id="search-input" class="search-input" placeholder="e.g. 'Jubilee'">
  </div>

  <div class="loader"></div>
  <marquee behavior="alternate" class="search-output"></marquee>
  <div></div>
  <div class="character-details"></div>
</div>