body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;	
  background-color: #113b92;
}

.heading {
    text-shadow: 1px 1px 1px #111;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom-style: solid
}

.wrapper {
  color: #113b92;
  background-color: #fff;
  width: 400px;
  margin: auto;
  height: 600px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.roundel {
  float: right;
  height: 37px;
}

.content {
  padding-top: 10px;
  font-weight: bold;
}

.contentItem {
  padding-top: 10px;
  font-weight: bold;
  margin: 0px 50px 0px;
  text-align: center;
}

.search-input {
	font-size: 20px;
	max-width: 100%;
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 15px;
	margin: 10px 50px 20px;
	text-align: center;
	color: #757575;
	background-color: #e5e5e5;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  float: center;
}

.search-input-label{
  color: #113b92;
}