<div class="wrapper">
  <div class="heading"> 
    Line Status
    <img class="roundel" src="https://yt3.ggpht.com/-Zn66Hv6W3-I/AAAAAAAAAAI/AAAAAAAAAAA/Tq0NmQhlTdU/s288-mo-c-c0xffffffff-rj-k-no/photo.jpg">
  </div>
        
      
  <div class="content">
    <div class="search">
      <input type="search" id="search-input" class="search-input" placeholder="e.g. 'Jubilee'">
    </div>
    <div id="contentItem" class="contentItem">      
    </div>

  </div>
</div>
      